.navMenu{
    padding: 10px 40px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2rem;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
    color: var(--purple);
}

.navLinks{
    display: flex;
    align-items: center;
}

.navLinks li:first-child{
    margin: 0 40px 0 0;
}