:root {
    --indigo: #2a2a68;
    --purple: #594eff;
    --red: #f04f53;
    --violet: #cccaff;
    --yellow: #f7e43b;
    --lavender: #ebeaff;
    --green: #34c2a4;
    --mint: #95f5f0;
  
    /* 一般的なカラーバリエーション */
    --primary-color: var(--purple);
    --secondary-color: var(--mint);
    --danger-color: var(--red);
    --success-color: var(--green);
    --warning-color: var(--yellow);
    --background-color: #f5f5f5;
    --text-color: var(--indigo);
  }
  

body{
    background: var(--lavender);
    font-family: 'Roboto', sans-serif;
    color: #303030;
    font-size: 1rem;
    letter-spacing: 0.02rem;
    margin: 0;
    padding: 0;
}

div,nav, h1{
    padding: 0;
    margin: 0;
}

h1{
    font-weight: normal;
    font-size: 1rem;
}